<!DOCTYPE html>
<html>
    {% set title = "" %}
    {% include 'blocks/head.html'   %}
  <body>
    {% include 'blocks/topBar.html'   %}
    <div class="main-content">
        <div class="banner">
            <div class="banner-content">
                <h1>
                    404
                </h1>
                <div class="banner-link-container">
                    <p>This page doesn't exist!</p>
                </div>
                <a href="/"><p>HOME</p></a>
            </div>
        </div>
    </div>
  </body>
</html>
